<div>
    <%= form_for(@form, url: random_exercises_path) do |f| %>
      <%= f.render_errors %>
      <%= check_box_tag :check_all_tenses, nil, nil, class: "x-check-all-tenses" %>
      <%= label_tag :check_all_tenses, "Wszystkie czasy" %>
      <br>
      <div class="x-all-tenses">
        <%= render partial: "random_exercises/elements/labeled_multiple_checkbox", collection: Conjugation::Tense.all, as: :tense, locals: { f: f, key: :tenses } %>
      </div>
    </div>
    <div>
      <%= check_box_tag :check_all_groups, nil, nil, class: "x-check-all-groups" %>
      <%= label_tag :check_all_groups, "Wszystkie groupy" %>
      <br>
      <div class="x-all-groups">
        <%= render partial: "random_exercises/elements/multiple_checkbox", collection: (1..3).to_a, as: :el, locals: { f: f, key: :groups } %>
      </div>
    </div>
    <div>
      <%= f.label(:excluded_verbs) %>
      <%= f.text_field(:excluded_verbs) %>
    </div>
    <div>
      <%= f.label(:included_verbs) %>
      <%= f.text_field(:included_verbs) %>
    </div>
    <%= f.submit "Ćwiczenia: start!" %>
  <% end %>
</div>

<script>
  $(document).on("page:change", (new ExerciseSettingsForm).init());
</script>
